<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container" style="width: 33%;">
    <form method="post">
        <th:block th:each="user : ${users}">
            <div class="form-group">
                <label>
                    <span th:text="${user.username}"></span>
                    <input type="checkbox" name="userIds" th:value="${user.id}" class="form-control">
                </label>
            </div>
        </th:block>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>
</div>
</body>
</html>