<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: navbar"></nav>
    <div class="container" style="width: 33%;">
        <div class="row justify-content-center">
            <img src="img/SecretNoteEditAccount.svg" style="width:75%;">
        </div>
<!--        <div class="row">-->
<!--            <form method="post" class="col-12 my-5 px-0">-->
<!--                <div class="input-group">-->
<!--                    <div class="input-group-prepend">-->
<!--                          <span class="input-group-text">-->
<!--                              <i class="fa fa-user text-info"></i>-->
<!--                          </span>-->
<!--                    </div>-->
<!--                    <input type="text" class="form-control" th:field="${loginFormDTO.username}" placeholder="username">-->
<!--                    <p class="error" th:errors="${loginFormDTO.username}"></p>-->
<!--                </div>-->
<!--                <div class="input-group my-3">-->
<!--                    <div class="input-group-prepend">-->
<!--                          <span class="input-group-text">-->
<!--                              <i class="fa fa-lock text-info"></i>-->
<!--                          </span>-->
<!--                    </div>-->
<!--                    <input type="password" class="form-control" th:field="${loginFormDTO.password}" placeholder="password">-->
<!--                    <p class="error" th:errors="${loginFormDTO.password}"></p>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-info btn-block"> Sign in </button>-->
<!--            </form>-->
<!--        </div>-->
        <div class="row">
            <button onclick="window.location.href='/accounts/username';" class="btn btn-info my-3 col-12">Change Username</button><br>
        </div>
        <div class="row">
            <button onclick="window.location.href='/accounts/password';" class="btn btn-info my-3 col-12">Reset Password</button><br>
        </div>
        <div class="row">
            <button onclick="window.location.href='/accounts/delete';" class="btn btn-info my-3 col-12">Delete Account</button>
        </div>
    </div>
</body>
</html>