<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/dc6715bc54.js"></script>
</head>
<body>
<div class=" mt-5 row justify-content-center ">
    <div class="col col-md-6 text-center display-4 py-4 " style=" border: 1px solid; box-shadow: 5px 10px #888888">
        <h1 class="display-4 py-3"> Edit Account </h1>
        <img src="img/edit-profile-picture.jpg" class="img-responsive my-3" ><br>
        <button type="submit" class="btn btn-info my-3 " style="height:40px; width:300px"> Change Username</button><br>
        <button type="submit" class="btn btn-info my-3" style="height:40px; width:300px">  Reset Password </button><br>
        <button type="submit" class="btn btn-info" style="height:40px; width:300px"> Delete Account </button>
    </div>
</div>
</body>
</html>