.testingborder {
    border: 1px solid black;
}

.note {
    display: inline-block;
    position: sticky;
    padding: 50px 10px 10px 10px;
}

.noteTitle {
    font-size: 12px;
}

.noteContent {
    font-size: 10px;
}

