.testingborder {
    border: 1px solid black;
}

#dashboardContainer {
    /* position: relative; */

}

.note {
    display: inline-block;
    position: relative;
    padding: 10px 10px 10px 10px;
    width: 300px;
    min-height: 200px;
}

.noteName {
    font-size: 18px;
    font-weight: bold;
    cursor: move;
}

.noteContent {
    font-size: 16px;
    overflow: hidden;
}

.noteDrag {
    position: absolute;
}

.noteEditBtn {
    float: right;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid #212529;
    color: #212529;
    margin-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.noteEditBtn:hover {
    background-color: #DDDDDD;
    color: #212529;
    text-decoration: "none";
}

hr {
    margin-top: 4px;
}

.sn-blue1 {
    color: #d0e0e3;
}

.sn-blue1-bg {
    background-color: #d0e0e3;
}

.sn-blue2 {
    color: #a9d5e3;
}

.sn-blue2-bg {
    background-color: #a9d5e3;
}

.sn-blue3 {
    color: #7ebed2;
}

.sn-blue3-bg {
    background-color: #7ebed2;
}

.sn-yellow {
    color: #ffdb91;
}

.sn-yellow-bg {
    background-color: #ffdb91;
}

.sn-orange {
    color: #fec4ae;
}

.sn-orange-bg {
    background-color: #fec4ae;
}

.sn-purple {
    color: #c483a6;
}

.sn-purple-bg {
    background-color: #c483a6;
}