<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: navbar"></nav>
    <div class="container pt-5 body-content">
        <form method="post" th:action="@{/notes/save/}" name="editform">
            <div class="row">
                <p>Details for <span th:text="${secretNote.name}" style="font-weight:bold;">Secret Note - Note Name</span></p>
            </div>
            <div class="form-group row">
                <label for="notename" class="col-md-12">Note Name
                    <input th:field="${secretNote.name}" class="form-control" id="notename" style="width:100%;" name="editform">
                </label>
                <p class="error" th:errors="${secretNote.name}"></p>
            </div>
            <div class="form-group row">
                <label for="notecontent" class="col-md-12">Note Content
                    <textarea th:field="${secretNote.content}" class="form-control" rows="8" id="notecontent" maxlength="500" name="editform"></textarea>
                </label>
                <p class="error" th:errors="${secretNote.content}"></p>
            </div>
            <div class="form-group row">
                <label for="notecolor" class="col-md-12">Note Color
                    <input type="color" id="notecolor" th:field="${secretNote.color}" name="editform">
                </label>
                <p class="error" th:errors="${secretNote.content}"></p>
            </div>
            <div class="form-group row">
                <div class="col-md-1"></div>
                <input type="hidden" th:value="${secretNote.id}" name="noteId">
                <input type="submit" value="Save Note" class="btn btn-info col-md-2">
        </form>
                <div class="col-md-2"></div>
                <input type="button" value="Go Back" onclick="history.back()" class="btn btn-info col-md-2">
                <div class="col-md-2"></div>
        <form method="post" th:action="@{'/notes/delete/'}" class="col-md-2" name="deleteform">
                <input type="hidden" th:value="${secretNote.id}" name="noteId">
                <input type="submit" value="Delete Note" class="btn btn-warning" name="deleteform">
                <div class="col-md-1"></div>
            </div>
        </form>
    </div>
</body>
</html>