<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title == null ? '' : title + ' - Secret Note'} + ''">Secret Note Page Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/dc6715bc54.js"></script>
    <link rel="stylesheet" th:href="@{~/css/secretnote.css}">
</head>

<body>
<nav th:fragment="navbar" class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <a class="nav-brand" th:href="@{/}">
            <img th:src="@{~/img/SecretNoteIcon.svg}" style="height:60px;">
        </a>
        <li class="nav-item"><a class="nav-link pt-3" th:href="@{/notes}">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link pt-3" th:href="@{/notes/create}">Create Note</a></li>
        <li class="nav-item"><a class="nav-link pt-3" th:href="@{/accounts}">Edit Account</a></li>
        <li class="nav-item"><a class="nav-link pt-3" th:href="@{/logout}">Log Out</a></li>
    </ul>
</nav>
</body>
</html>