<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/dc6715bc54.js"></script>
</head>
<body>
<div class="row justify-content-center">
    <div class="col col-md-6 text-center">
        <form method="Post" >
            <h1 class="display-4 py-4">Register</h1>
            <div class="input-group">
                <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fa fa-user text-info"></i>
                      </span>
                </div>
                <input type="text" class="form-control" th:field="${registerFormDTO.username}" placeholder="username">
                <p class="error" th:errors="${registerFormDTO.username}"></p>
            </div>
            <div class="input-group my-3">
                <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fa fa-envelope text-info"></i>
                      </span>
                </div>
                <input type="email" class="form-control" th:field="${registerFormDTO.email}" placeholder="email">
            </div>
            <div class="input-group my-3">
                <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fa fa-lock text-info"></i>
                      </span>
                </div>
                <input type="password" class="form-control" th:field="${registerFormDTO.password}" placeholder="password">
            </div>
            <div class="input-group my-3">
                <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fa fa-lock text-info"></i>
                      </span>
                </div>
                <input type="password" class="form-control" th:field="${registerFormDTO.verifyPassword}" placeholder="verify password">
            </div>
            <button type="submit" class="btn btn-info btn-block">Register </button>
        </form>
    </div>


</div>
</body>
</html>